*$py.class
*.iml
*.log
*.py[cod]
.coverage
.env
.idea/
.mypy_cache/
.pdm-build/
.pdm-python
.pdm.toml
.pytest_cache/
.python-version
.ruff_cache/
.tox/
.venv/
.vscode/
__pycache__/
__pypackages__/
coverage.xml
dist/
